<body>
    <!-- Main Pages -->
    <p><a href="/employees">Employees</a></p>
    <p><a href="/depts">Departments</a></p>
    <p><a href="/employeesMongoDB">Employees(MongoDB)</a></p>


    <br>
    <h3>Innovation</h3>
    <!-- Additional for more marks -->
    <p><a href='/addEmployees'>Add Employees (MySQL)</a></p>
</body>